.App-footer {
  background-color: var(--body-bg);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(5px + 2vmin);
  margin-bottom: 0;
  border-top: #e2effc 1px solid;
}

.FindMe {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  & .FindMe-text {
    margin-right: 10px;
    font-weight: 600;
  }

  & .App-Link {
    margin: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: var(--body-color-hover);

    font-size: calc(10px + 2vmin);
    &:hover svg,
    &:focus svg,
    &:active svg {
      &[data-icon='github'] {
        color: black;
      }
      &[data-icon='linkedin'] {
        color: #0a66c2;
      }
      &[data-icon='telegram'] {
        color: #2d9fd7;
      }
    }

    & svg {
      transition: color 0.5s ease-in-out;
    }
  }
}
