
:root {
--body-bg: #e8f1fa;
--body-color: rgba(70, 76, 95, 1);
--body-color-hover: rgba(70, 76, 95, .9);
--color-white: rgba(232, 241, 250, 1);
}

.App {
  height: 100%;
  width: 100%;
  color: var(--body-color);
}

.App-header {
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: calc(5px + 2vmin);
  padding: 2% 6%;
  justify-content: flex-start;
  opacity: 1;
}

.App-header .App-Link, 
.App-header .App-Link:hover, 
.App-header .App-Link:focus, 
.App-header .App-Link:active {
  color: var(--color-white);
}

.Background-Header {
  z-index: -1;
  position: absolute;
            top: -10vw;
            left:0;
            right:0;
}

.App-Nav {
  display: flex;
  flex-direction: row;
}

.App-Menu {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgYmFzZVByb2ZpbGU9InRpbnkiIGhlaWdodD0iMjRweCIgaWQ9IkxheWVyXzEiIHZlcnNpb249IjEuMiIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBhdGggZD0iTTE5LDE3SDVjLTEuMTAzLDAtMiwwLjg5Ny0yLDJzMC44OTcsMiwyLDJoMTRjMS4xMDMsMCwyLTAuODk3LDItMlMyMC4xMDMsMTcsMTksMTd6Ii8+PHBhdGggZD0iTTE5LDEwSDVjLTEuMTAzLDAtMiwwLjg5Ny0yLDJzMC44OTcsMiwyLDJoMTRjMS4xMDMsMCwyLTAuODk3LDItMlMyMC4xMDMsMTAsMTksMTB6Ii8+PHBhdGggZD0iTTE5LDNINUMzLjg5NywzLDMsMy44OTcsMyw1czAuODk3LDIsMiwyaDE0YzEuMTAzLDAsMi0wLjg5NywyLTJTMjAuMTAzLDMsMTksM3oiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: cover;
  visibility: visible;
  width: 25px;
  height: 25px;
}

.Menu {
  display: flex;
  justify-content: space-around;
  align-content: center;
  z-index: 2;
  position: absolute;
  width: 100%;
}

.App-footer, .App-Content {
  box-shadow: 8px 8px 20px 0 rgba(108, 141, 194, 0.28),
  -8px -8px 22px 0 rgba(255, 255, 255, 0.82);
}

.App-footer:hover, .App-Content:hover {
  box-shadow: 8px 8px 20px 0 rgba(108, 141, 194, 0.38),
    -8px -8px 22px 0 rgba(255, 255, 255, 0.72);
}

.App-footer {
  background-color: var(--body-bg);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(5px + 2vmin);
  margin-bottom: 0;
  border-top: #e2effc 1px solid;
  
}

.App-footer .FindMe a {
  color: var(--body-color-hover);
  margin: 0 10px;
}

.App-main {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
}

.App-Content {
  width: 90%;
  height: auto;
  display: flex;
  margin: 8%;
  margin-top: 2.2%;
  background-color: var(--body-bg);
  color: var(--body-color);
  border-radius: 10px;
  border: #e2effc 1px solid;
  padding: 5%;
  text-align: left;
  flex-direction: column;
  transition: all .5s;
  
}

.Tech {
  text-align: left;
  text-decoration: none !important;
  display: inline-flex;
  flex-direction: column;
  margin-left: 15%;
}

.Main-Header {
  font-family: "Proza Libre", sans-serif;
  margin-bottom: 10%;
  margin-top: 5vw;
}

.Main-Header h5 {
  margin-bottom: 0px;
}

.Main-Header h1 {
  margin-top: 10px;
}

.App-Link {
  margin: 15px;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
}

.App-Link:hover {
  text-decoration: none;
  border: none;
  outline: none;
}

.academy {
  margin: 0;
}

.contact {
  text-align: center;
}

.FindMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills-header {
  margin-bottom: 10px;
}
.grid-conteiner {
  margin-top: 10px;
  width: 100%;
  display: grid;
  /* grid-template-columns: 100px 100px 100px; */
  /* grid-template-columns: repeat(6, 100px); */
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(60px));
  grid-gap: 10px;
}

.grid-item img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  body {
    background-size: 100% 18%;
  }

  .App-header h1 {
    margin-top: 0;
    font-size: 1.5em;
  }

  .App-footer {
    flex-direction: column;
  }

  .App-Menu:hover {
    cursor: pointer;
  }

  .App-Nav {
    visibility: hidden;
  }

  .Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
  }

  .Main-Header {
    margin-top: 10vw;
  }
}
