@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

:root {
  --primary: #4c4eb5;
  --body-bg: #e8f1fa;
  --body-bg-primary: var(--primary);
  --body-color: rgba(70, 76, 95, 1);
  --body-color-hover: rgba(70, 76, 95, 0.9);
  --color-white: rgba(232, 241, 250, 1);
  --color-white-hover: rgba(213, 231, 248, 0.952);
  --scrollbar-track-shadow-color: rgba(0, 0, 0, 0.3);
  /* --scrollbar-track-bg-color: #3d3d3d; #161616 */
   --scrollbar-track-bg-color: #161616; 
   --scrollbar-bg-color: #333;
   --scrollbar-thumb-bg-color: #ccc;
}

body {
  margin: 0;
  z-index: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Proza Libre', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px var(--scrollbar-track-shadow-color);
  border-radius: 2px;
  background-color: var(--scrollbar-track-bg-color);
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: var(--scrollbar-bg-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 3px var(--scrollbar-track-shadow-color);
  background-color: var(--scrollbar-track-bg-color);
}
